beautifulsoup4
easyocr
fastapi
ffmpeg-python
google-api-python-client
litellm==0.1.674
matplotlib
mplfinance
numpy
openai
opencv-python
pandas
pandas-datareader
pdfkit
ptvsd
pytest
pydub
PyMuPDF
pyocr
pytube
requests
scikit-learn
scrapy
seaborn
uvicorn
watchdog
weasyprint
websockets
yfinance
python-dotenv
