beautifulsoup4
easyocr
fastapi
ffmpeg-python
google-api-python-client
litellm
matplotlib
mplfinance
numpy
open-interpreter==0.2.2
openai
opencv-python
pandas
pandas-datareader
pdfkit
ptvsd
pytest
python-dotenv
pydub
PyMuPDF
pyocr
pytube
requests
scikit-learn
scrapy
seaborn
uvicorn
watchdog
weasyprint
websockets
yfinance
